<div class="cake-post-container" cake-type = {{type}} dietary-tag = {{dietaryTag}} serves = {{serves}} prep-time = {{prepTime}} cook-time = {{cookTime}}>
<a href= "/modal/{{cakeId}}"><img src={{photoURL}} class="cakeImg" id={{cakeId}}></a>
</div>
