<div class="cake-post-container" cake-type = {{type}} dietary-tag = {{dietaryTag}} serves = {{serves}} prep-time = {{prepTime}} cook-time = {{cookTime}}>
  <img src={{photoURL}} id="cakeImg" cakeId={{cakeId}}>
</div>
