<div class="cake-post-container" cake-title = {{title}} cake-type = {{type}} dietary-tag = {{dietaryTag}} servers = {{serves}} prep-time = {{prep}} cook-time = {{cook}}>
  <img src={{photoURL}}>
</div>
