<div id="modal-background"></div>
<div id="post-modal">
    <div class="modal-dialog">

        <div class="modal-title">
            <h3>{{title}}!</h3>
            <button type="button" id="add-to-cart-button" class="cart-button">Add to Cart</button>
            <button type="button" id="close-modal" class="close-modal-button">Cancel</button>
        </div>

        <div class="modal-image-container">
            <img src={{photoURL}} alt="recipe name!">
        </div>
        <div class="modal-info-container">
            <span class="cake-flavor">{{type}}</span><span class="dietary-tag">{{dietaryTag}}</span><span class="serving-number">{{serves}}</span><span class="prep-time">{{prepTime}} minutes</span><span class="cook-time">{{cookTime}} minutes</span>
        </div>
        <div class="modal-footer">
            <a href="#" class="recipe-link">See Full Recipe</a>
        </div>
    </div>
</div>
