<main class="content">

  <div id="modal-background"></div>
  <div id="post-modal">
      <div class="modal-dialog">

          <div class="modal-title">
              <h3>{{title}}!</h3>
              <a href="/"><button type="button" id="add-to-cart-button" class="cart-button {{cakeId}} {{photoURL}}" cakeid = {{cakeId}}>Add to Cart</button></a>
              <a href="/"><button type="button" id="close-modal" class="close-modal-button">Cancel</button></a>
          </div>

          <div class="modal-image-container">
              <img src={{photoURL}} alt="recipe name!">
          </div>
          <div class="modal-info-container">
              <h3>Quick Info:</h3>
              <span class="cake-flavor">Type: {{type}}</span>
              <span class="dietary-tag">Dietary Tag: {{dietaryTag}}</span>
              <span class="serving-number">Serving Number: {{serves}}</span>
              <span class="prep-time">Prep Time: {{prepTime}} minutes</span>
              <span class="cook-time">Cook Time: {{cookTime}} minutes</span>
          </div>
          <div class="modal-footer">
              <a href="/recipe/{{cakeId}}" class="recipe-link">See Full Recipe</a>
          </div>
      </div>
  </div>


</main>
